.nav {
    display: flex;
    gap: 1.5rem;
}

.nav-page{
    padding: 1rem;
}

@keyframes activebar {
    0% {width: 0;}
    100% {width: 100%;}
}

.active {
    position: relative;
    
}

.decale-nav{
    margin-right: 1rem;
}

.active::after {
    content: "";
    background-color: var(--color-primary);
    width: 0;
    height: 3px;
    position: absolute;
    border-radius: 10px;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    animation: 600ms ease-out forwards;
    animation-name: activebar;
    animation-direction: center;
}